@use "global" as *;

.p-article-header {
  display: flex;
}

.p-article-tab {
  background-color: $white;
  border-bottom: 3px solid $black;
  padding: 0 20px 0 0;
  text-align: start;
  span {
    color: #59d5e0;
  }
}

.is-tabActive {
  border-bottom: 3px solid #59d5e0;
}

.p-articles {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: -40px;
}

$mr: 32px;
.p-article {
  width: calc((100% - $mr*3) / 3);
  margin-bottom: 80px;
  margin-right: $mr;
}

.p-article-link {
  display: block;
  position: relative;
}

.p-article-time {
  position: absolute;
  left: 0;
  top: -26px;
  transform: rotate(-15deg);
  font-size: rem(14);
  font-weight: 700;
}

.p-article-thumbnail {
  height: 160px;
  object-fit: cover;
}

.p-article-title {}

.p-article-type {
  color: $white;
  width: fit-content;
  margin-left: auto;
  display: block;
  text-align: end;
}

.p-article-tags {}

.p-article-tag {}

.p-articles-bottom {
  display: block;
  width: 100%;
  text-align: center;
}

.p-articles-more {
  display: inline-block;
  background-color: $black;
  color: $white;
  width: 200px;
  height: 60px;
}
.p-article-blind {
  display: none;
}
.is-more-show {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}