@use "global" as *;

.p-contactBtn {
  position: fixed;
  right: 0;
  bottom: calc(50% - 200px);
  background-color: $blue;
  border-radius: 10px 0 0 10px;
  width: 100px;
  height: 100px;
  border: 2px solid $white;
  border-right: none;
  padding: 17px 8px 15px 22px;

  @include mq (o-sp) {
    width: 80px;
    height: 80px;
    bottom: calc(50% - 180px);
    padding: 16px 16px 16px 19px;
  }
  img {

    width: 60px;

    @include mq (o-sp) {
    }
  }
}