@use "global" as *;

.p-footer {
  position: relative;
  background-color: #707070;
}

.p-footer-inner {
  display: flex;
  justify-content: space-between;
  padding: 80px 150px 40px 150px;
  max-width: 1700px;
  margin: 0 auto;
}


.p-footer-logo {
  font-size: rem(12);
  color: $white;
  font-weight: 400;
}

.p-footer-logo-link {
  display: block;
  width: 160px;
  margin-top: 16px;
}


.p-footer-nav {
  display: flex;

  &-link {
    color: $white;
    font-size: rem(14);
    width: fit-content;
    padding: 0 12px;
    height: 16px;

    &:not(:last-child) {
      border-right: 2px solid $white;
    }
  }
}

.p-footer-copyright {
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: rem(12);
  color: $white;
  padding: 8px 8px 40px 8px;
  letter-spacing: 2px;
}