@use "global" as *;

.p-recommend {
  padding: 150px;
  background-color: $white;

  @include mq (o-pc-l) {
    padding: 120px 60px;
  }

  @include mq (o-pc) {
    padding: 120px 16px;
  }
}

.p-recommend-inner {
  max-width: 2000px;
  margin: 0 auto;
}

.p-recommend-ttl {
  color: $yellow;
  font-size: rem(40);
  text-align: center;
  margin-bottom: 72px;

  @include mq (o-tb) {
    font-size: min(7vw,rem(40));
  }
}

.p-recommend-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -60px;

  @include mq (o-pc) {
    flex-direction: column;
  }
}

.p-recommend-cnt {
  width: 45%;
  max-width: 830px;
  background-position: 0 0;
  margin-bottom: 60px;

  @include mq (o-pc) {
    width: 100%;
    max-width: 1200px;
  }

  &:first-child {
    margin-right: 60px;

    @include mq (o-pc) {
      margin-right: 0px;
    }
  }

  &-link {
    display: block;
    padding: 20px;
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;

    @include mq (o-pc-l) {
      height: 20vw;
    }

    @include mq (o-pc) {
      padding: 10px;
      height: 40vw;
    }
    @include mq (o-tb) {
      height: 320px;
    }
    @include mq (o-sp) {
      height: 50vw;
      background-size: cover;
    }
    @include mq (o-sp-m) {
      height: 60vw;
    }
  }
  &-ttl {
    font-size: min(1.8vw, rem(36));
    color: $white;
    background-color: #f2380f9e;
    border-radius: 20px;
    padding: 17px 4px;
    text-align: center;
    margin-bottom: 70px;

    @include mq (o-pc-l) {
      padding: 10px 4px;
      margin-bottom: 3vw;
    }

    @include mq (o-pc) {
      font-size: rem(32);
      border-radius: 15px;
      margin-bottom: 10vw;
    }

    @include mq (o-sp) {
      font-size: min(4.6vw, rem(28));
      margin-bottom: 12%;
    }

    @include mq (o-sp-m) {
      padding: 10px 4px;
    }
  }

  &-msg {
    font-size: rem(48);
    color: $white;
    text-shadow: 5px 5px 5px #00000075;
    text-align: center;
    line-height: calc(78/55);

    @include mq (o-pc-l) {
      font-size: min(3vw, rem(42));
    }

    @include mq (o-pc) {
      font-size: rem(42);
    }

    @include mq (o-sp) {
      font-size: rem(32);
    }

    @include mq (o-sp-m) {
      font-size: rem(28);
    }
  }
}
