@use "global" as *;

.p-single {
  margin-bottom: 80px;
}

.p-single-type {
  display: inline-block;
  color: $white;
  font-weight: 700;
  margin-bottom: 12px;
  padding: 6px 4px;
  text-shadow: 1px 1px 3px #00000029;
}

.p-single-title {
  font-size: rem(24);
  margin-bottom: 36px;
  line-height: 1.2;

  @include mq (o-sp) {
    font-size: rem(20);
  }
}

.p-single-date {
  display: inline-block;
  margin-bottom: 4px;

  @include mq (o-sp) {
    font-weight: bold;
  }
}
.p-single-thumbnail {
  margin-bottom: 24px;
  box-shadow: 1px 1px 4px #00000033;
}

.p-single-gallery {
  display: block;
  text-align: center;
  margin-bottom: 32px;
}

.p-single-gallery-link {
  display: inline-block;
  position: relative;
  background-color: $white;
  border: 1px solid $black;
  font-size: rem(20);
  padding: 16px 40px 16px 70px;
  font-weight: bold;
  @include flashAnime;

  &::before {
    content: "";
    position: absolute;
    top: 54%;
    left: 10%;
    transform: translate(-50%, -50%);
    background-image: url(../images/meta_info/icon_camera.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
  }
}

.p-single-cont {
  margin-bottom: 64px;

  h1, h2 ,h3, h4, h5, h5, h6,
  p, figure {
    display: block;
    margin-bottom: 32px;
  }

  h1, h2 {
    font-size: rem(18);
    padding: 5px 0 5px 7px;
    line-height: 1.2;
  }

  h3, h4, h5, h5, h6, p, li {
    font-size: rem(15);
    font-weight: 400;
    line-height: 1.7;
  }

  figure {
    text-align: center;
    margin-bottom: 40px;
  }

  h3 {
    &::before {
      content: "―――";
      letter-spacing: 0;
      margin-right: 4px;
    }
  }

  p {
    @include mq (o-sp) {
      font-size: rem(14);
    }
  }

  .wp-block-buttons {
    justify-content: center;
    margin-top: 40px;
  }

  .wp-element-button {
    position: relative;
    border-radius: 0;
    &::before {
      content: "次のページ";
      position: absolute;
      top: -40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $black;
      width: 100px;
    }
  }


}

.p-single-music {
  .p-single-cont {
    h1, h2 {
      border-left: 4px solid $music-blue;
    }

    h3 {
      color: $music-blue;
    }
  }
}
.p-single-game {
  .p-single-cont {
    h1, h2 {
      border-left: 4px solid $game-purple;
    }
    h3 {
      color: $game-purple;
    }
  }
}
.p-single-anime {
  .p-single-cont {
    h1, h2 {
      border-left: 4px solid $anime-pink;
    }
    h3 {
      color: $anime-pink;
    }
  }
}
.p-single-entertainment {
  .p-single-cont {
    h1, h2 {
      border-left: 4px solid $enter-orange;
    }
    h3 {
      color: $enter-orange;
    }
  }
}
// パスワード保護公開時
.post-password-form {
  padding: 80px 0;
  text-align: center;

  p {
    &:first-child {
      text-align: start;
      line-height: 1.7;
      margin: 0 auto;
      margin-bottom: 40px;
      width: 100%;
      max-width: 900px;
    }
  }

  input[type=password]{
    border: 2px solid #0000004a;
    background-color: #E2E6E9;
    width: 200px;
    padding: 8px;
    font-family: $ff-gothic;
    margin-top: 20px;
  }

  input[type=submit] {
    display: block;
    width: 200px;
    color: $white;
    background-color: $black;
    font-size: rem(18);
    border: none;
    line-height: 50px;
    margin: 40px auto 0 auto;
    @include flashAnime;
  }
}