@use "global" as *;

.p-side {
  width: 300px;

  div {
    display: block;
    border: 1px solid $black;
    margin-bottom: 54px;
  }
}

.p-side01 {
  height: 300px;
}

.p-side02 {
  height: 240px;
}

.p-side03 {
  height: 500px;
}

.p-side04 {
  height: 240px;
}

.p-side05 {
  height: 240px;
}

.p-side06 {
  height: 240px;
}

.p-side06 {
  height: 240px;
}

.p-side07 {
  height: 240px;
}

.p-side08 {
  height: 240px;
}