$white: #FFFFFF;
$t-white: rgba(255, 255, 255, 0.7);
$black: #000000;
$music-blue: #04ADBF;
$anime-pink: #f4538a;
$game-purple: #9195F6;
$enter-orange: #FAA300;
$news-red: #f2380f;

// snsアイコンの色も変わるように設定しています。
$youtube-red: #FF0000;
$note-mint: #41C9B4;
$twitter-blue: #1DA1F2;
