$white: #FFFFFF;
$t-white: rgba(255, 255, 255, 0.7);
$black: #000000;
$blue: #006bb3;
// $blue: #0339A6;
$d-green: #025B51;
$l-green: #2E7D32;
$bg-green: #04ADBF;
$bg-yellow: #F2B705;
$yellow: #F28705;
$orange: #F2380F;
$bg-gray: #D7E1E2;

// snsアイコンの色も変わるように設定しています。
$youtube-red: #FF0000;
$note-mint: #41C9B4;
$twitter-blue: #1DA1F2;
