@use "global" as *;

.p-side {
  position: relative;
  width: 300px;

  @include mq (o-tb) {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 80px;
  }

  div {
    display: block;
    margin-bottom: 54px;
  }

  .p-articles {
    margin-right: 0;
    @include mq (o-tb) {
      display: none;
    }
  }

  .p-articles-related {
    h3 {
      display: inline-block;
      font-size: rem(15);
      color: #fff;
      background-color: #000;
      padding: 8px 8px;
      font-weight: bold;
      margin-bottom: 16px;
    }
  }

  .p-article {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
  }

  .p-article-thumbnail {
    height: 190px;
  }
}

.p-side-inner {
  position: sticky;
  top: 80px;

  @include mq (o-tb) {
    position: relative;
    top: 0;
  }
}

.p-side-x {//Xタイムライン
  margin-bottom: 54px;

  h3 {
    display: inline-block;
    font-size: rem(15);
    color: #fff;
    background-color: #000;
    padding: 8px 8px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .r-14lw9ot {
    max-height: 400px;
  }
}

.p-side02 {
  height: 240px;
  border: 1px solid $black;
}

.p-side03 {
  height: 300px;
  border: 1px solid $black;
}

.p-side04 {
  height: 240px;
  border: 1px solid $black;
}