@use "global" as *;

.u-black {
  color: $black;
}

.u-green {
  color: $bg-green;
}

.u-orange {
  color: $orange;
}

.u-d-green {
  color: $d-green;
}

.u-blue {
  color: $blue;
}

.u-yellow {
  color: $yellow;
}