@use "global" as *;

//ヘッダーナビ　メニュー

.is-menu-show {
  display: flex;
}

.is-menu-show {
  @include mq (o-pc) {
    animation-name: menu-background;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}

@keyframes menu-background {
  0% {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
  }

  100% {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(6px);
  }
}

.is-menu-show-text {
  animation-name: menu-text;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.is-menu-show-icons {
  animation-name: menu-text;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes menu-text {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.is-stay {
  @include mq (o-tb) {
    overflow: hidden;
  }
}

.js-menu-btn-bar {
  transition: all 0.3s;
}

.is-bar-move {
  left: 0%;
  transform-origin: 50% 50%;

  &:first-child {
    transform: rotate(45deg);
    top: 50%;

  }
  &:nth-child(2) {
    display: none;
  }
  &:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }
}

// スクロールトップ
.is-btn-show {
  opacity: 1;
}

//お問い合わせフォーム送信ボタン
.is-inactive {
}

// message スクロールマスク

.js-scroll-mask {
  transition: all 1s;
}

.is-scroll-mask {
  background-color: rgba(138, 138, 138, 0.302);
}