@use "global" as *;

.p-meta-info {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.p-meta-info-content {

  >.wp-block-group {
    margin-bottom: 32px;

    .wp-block-group {
      margin-bottom: 24px;
    }

    &:first-child { //作品情報
      .wp-block-group {
        background-color: rgb(196, 196, 196);
      }


    }

    &:nth-child(2) { //イベント情報
      .wp-block-group {
        background-color: rgb(196, 196, 196);
      }
    }

    &:last-child { //プロフィール
      .wp-block-group {
        background-color: rgb(196, 196, 196);
      }
    }


  }

  summary {
    border: 1px solid $black;
    padding: 16px;
    list-style: none;
  }

  h2.wp-block-heading {
    font-size: rem(24);
  }
}