@use "global" as *;


.p-aboutUs {
  background-image: url(../images/about_us/aboutUs_bg.jpg);
  background-size: cover;
  background-position: center 0;
  margin: 0 -20px;
  padding: 48px 8px 0 8px;
  font-family: $ff-gothic;
}

.p-aboutUs-top {
  text-align: center;
  margin-bottom: 3vw;

  @include mq (o-sp) {
    margin-bottom: 40vw;
  }
}

.p-aboutUs-top-title {
  // color: rgba(255, 255, 255, 0);
  color: $white;
  font-family: $ff-aptly;
  font-weight: 300;
  font-style: italic;
  font-size: rem(80);
  // background-image: url(../images/about_us/text_About_Us.png);
  // background-size: contain;
  // background-repeat: no-repeat;
  // width: 300px;
  // margin: 0 auto;
  margin-bottom: 32px;
}

.p-aboutUs-top-copy {
  color: $white;
  font-size: min(5vw, rem(24));
  line-height: 2;
  margin-bottom: 48px;
  font-weight: 400;
}

.p-aboutUs-top-text {
  color: $white;
  font-size: rem(16);
  line-height: 2;
  margin-bottom: 64px;
  span {
    display: block;
    margin-bottom: 30px;
  }

  @include mq (o-tb) {
    margin-bottom: 40px;
  }

  @include mq (o-sp) {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 64px;
    text-align: start;
    span {
      margin-bottom: 48px;
    }
  }
}

.p-aboutUs-top-btn {
  display: inline-block;
  color: $white;
  border: 2px solid $white;
  text-align: center;
  padding: 16px 0;
  width: 350px;
  @include flashAnime;

  @include mq (o-sp) {
    padding: 24px 0;
  }
}

.p-aboutUs-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
}

.p-aboutUs-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;

  @include mq (o-sp) {
    position: relative;
  }

  @include mq (o-sp) {
    .p-aboutUs-sec-title {
      color: $white;
    }

    .p-aboutUs-sec-title-main {
      position: relative;
      color: $white;
      font-size: rem(76);
      letter-spacing: 0.05em;

      &::before {
        content: "";
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 250px;
        border-radius: 50%;
        opacity: 0.7;
        z-index: -1;
      }
    }
  }

  &:nth-child(odd) {

    @include mq (o-sp) {
      flex-direction: column-reverse;
    }

    .p-aboutUs-sec-info {
      margin-right: 40px;

      @include mq (o-sp) {
        margin-right: 0;
      }
    }
  }
  &:nth-child(even) {
    flex-direction: row-reverse;

    @include mq (o-sp) {
      flex-direction: column-reverse;
    }

    .p-aboutUs-sec-info {
      margin-left: 40px;

      @include mq (o-sp) {
        margin-left: 0;
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: 80px;
  }

  &:first-child { //music
    color: $music-blue;

    .p-aboutUs-sec-title-main {
      // background-image: url(../images/about_us/text_music.png);
      // width: 66%;
      color: $music-blue;
    }

    @include mq (o-sp) {
      .p-aboutUs-sec-title {
        color: $white;
      }

      .p-aboutUs-sec-title-main {
        color: $white;

        &::before {
          background-color: #0396ae;
        }
      }
    }

    .p-aboutUs-sec-btn {
      color: $music-blue;
      border: 3px solid $music-blue;
      &::after {
        background-image: url(../images/about_us/arrow-blue.png);
      }
    }
  }

  &:nth-child(2) { //anime
    color: $anime-pink;
    .p-aboutUs-sec-title-main {
      // background-image: url(../images/about_us/text_anime.png);
      // width: 42%;
      color: $anime-pink;
    }

    @include mq (o-sp) {
      .p-aboutUs-sec-title {
        color: $white;
        top: 28%;
      }

      .p-aboutUs-sec-title-main {
        color: $white;

        &::before {
          background-color: #e9164c;
        }
      }
    }

    .p-aboutUs-sec-btn {
      color: $anime-pink;
      border: 3px solid $anime-pink;
      &::after {
        background-image: url(../images/about_us/arrow-pink.png);
      }
    }
  }

  &:nth-child(3) { //game
    color: $game-purple;
    .p-aboutUs-sec-title-main {
      // background-image: url(../images/about_us/text_game.png);
      // width: 36%;
      color: $game-purple;
    }

    @include mq (o-sp) {
      .p-aboutUs-sec-title {
        color: $white;
        top: 28%;
      }

      .p-aboutUs-sec-title-main {
        color: $white;

        &::before {
          background-color: #9a92db;
        }
      }
    }

    .p-aboutUs-sec-btn {
      color: $game-purple;
      border: 3px solid $game-purple;
      &::after {
        background-image: url(../images/about_us/arrow-purple.png);
      }
    }
  }

  &:nth-child(4) { //entertainment
    color: $enter-orange;
    .p-aboutUs-sec-title-main {
      // background-image: url(../images/about_us/text_entertainment.png);
      // width: 80%;
      height: 60px;
      font-size: rem(60);
      color: $enter-orange;
    }

    @include mq (o-tb) {
      .p-aboutUs-sec-title-main {
        font-size: rem(54);
        height: 54px;
      }
    }

    @include mq (o-sp) {
      .p-aboutUs-sec-title {
        color: $white;
        top: 31%;
      }

      .p-aboutUs-sec-title-main {
        font-size: rem(54);
        color: $white;

        &::before {
          background-color: #e3ac2f;
        }
      }
    }

    .p-aboutUs-sec-btn {
      color: $enter-orange;
      border: 3px solid $enter-orange;
      &::after {
        background-image: url(../images/about_us/arrow-orange.png);
      }
    }
  }
}

.p-aboutUs-sec-info {
  padding-top: 40px;

  @include mq (o-sp) {
    text-align: center;
  }
}

.p-aboutUs-sec-title {
  display: flex;
  align-items: flex-end;
  margin-bottom: 48px;

  @include mq (o-sp) {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.p-aboutUs-sec-title-main {
  display: inline-block;
  // background-size: contain;
  // background-repeat: no-repeat;
  font-family: $ff-aptly;
  font-weight: 300;
  font-style: italic;
  height: 75px;
  font-size: rem(80);
}

.p-aboutUs-sec-title-sub {
  font-size: rem(16);
  margin-left: 20px;
  letter-spacing: 0em;

  @include mq (o-sp) {
    font-size: rem(20);
    margin-top: 10px;
    margin-left: 0;
    font-weight: 400;
  }
}

.p-aboutUs-sec-text {
  line-height: 2;
  margin-bottom: 40px;
}

.p-aboutUs-sec-img {
  width: 425px;

  @include mq (o-tb) {
    width: 40%;
  }
  @include mq (o-sp) {
    width: 380px;
  }
}

.p-aboutUs-sec-btn {
  @include flashAnime();
  position: relative;
  display: inline-block;
  padding: 18px 0 18px 20px;
  width: 280px;
  background-color: white;

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 9px;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
  }

  @include mq (o-sp) {
    text-align: left;
  }
}

.p-aboutUs-bottom {
  text-align: center;
  padding-bottom: 100px;
}

.p-aboutUs-bottom-title {
  font-size: rem(48);
  margin-bottom: 24px;
  font-family: $ff-aptly;
  font-weight: 400;
  font-style: italic;
  // background-image: url(../images/contact/text_artist_creator.png);
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: center;
  @include mq (o-sp) {
    font-size: rem(42);
  }
}

.p-aboutUs-bottom-intro {
  line-height: 1.7;
  font-size: rem(18);
  margin-bottom: 24px;

  @include mq (o-sp) {
    font-size: rem(16);
  }
}

.p-aboutUs-bottom-btn {
  display: inline-block;
  background-color: $black;
  color: $white;
  width: 250px;
  line-height: 50px;
  margin: 0 auto;
  @include flashAnime();

  @include mq (o-sp) {
    width: 100%;
    max-width: 350px;
    line-height: 60px;
  }
}