@use "global" as *;

.p-contact {
  background-color: #D8E1E24D;
  margin: 0 -20px;
  padding: 0 20px 80px 20px;
  position: relative;
  font-family: $ff-gothic;

  @include mq (o-sp) {
    background-color: $white;
  }

  &::before {
    content: "";
    background-image: url(../images/contact/contact_top_bg.jpg);
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 300px;
    width: 100vw;
    height: 180px;
    top: 0;
    left: 0;
    @include mq (o-sp) {
      background-image: url(../images/contact/contact_top_bg_sp.jpg);
    }
  }
}

.p-contact-head {
  position: relative;
  max-width: 740px;
  margin: 0 auto;
  margin-bottom: 64px;
  text-align: center;
  padding-top: 300px;

}

.p-contact-head-title {
  font-size: rem(48);
  margin-bottom: 24px;
  font-family: $ff-aptly;
  font-weight: 400;
  font-style: italic;
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-position: center;
  // background-image: url(../images/contact/text_artist_creator.png);
}

.p-contact-head-intro {
  line-height: 1.7;
  font-size: rem(18);
}

.p-contact-form {
  max-width: 740px;
  margin: 0 auto;

  @include mq (o-sp) {
    max-width: 600px;
  }
}

.p-contact-form-title {
  font-size: rem(28);
  margin-bottom: 8px;
}

.p-contact-form-caption {
  margin-bottom: 48px;

  @include mq (o-sp) {
    margin-bottom: 24px;
  }
}

.mw_wp_form .error {
  position: absolute;
  top: 48px;
}

.p-input-wrap {
  background-color: $white;
  margin-bottom: 8px;
  display: flex;
  padding: 20px;
  position: relative;

  @include mq (o-sp) {
    flex-direction: column;
    padding: 20px 0 0 0;
  }
}

.p-input-label {
  width: 210px;
  letter-spacing: 0.01em;

  @include mq (o-sp) {
    margin-bottom: 10px;
    font-weight: 700;
  }
  span {
    color: red;
  }
  &+br {
    display: none;
  }
}

.p-input-text,
.p-input-textarea {
  border: none;
  background-color: #E2E6E9;
  max-width: 520px;
  width: calc(100% - 210px);
  padding: 8px;
  font-family: $ff-gothic;

  @include mq (o-sp) {
    width: 100%;
    max-width: none;
  }
}

.p-input-text {
  height: 30px;
  @include mq (o-sp) {
    height: 40px;
  }
}

.p-input-textarea {
  height: 400px;
}

.p-input-bottom {
  display: none;
  text-align: center;
  font-size: rem(14);
  padding: 40px 0 0 0 ;
}



input[type=checkbox]:checked::before {
  background-color: #006bb3;
}

input[type=checkbox]::before {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #666464;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
  top: 50%;
  left: 5px;
}

input[type=checkbox]::after, input[type=checkbox]::before {
  content: "";
  display: block;
  position: absolute;
}

input[type=checkbox] {
  cursor: pointer;
  padding-left: 30px;
  vertical-align: middle;
  position: relative;
}

input[type=checkbox]::after, input[type=checkbox]::before {
  content: "";
  display: block;
  position: absolute;
}

input[type=checkbox]::after {
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  opacity: 0;
  height: 6px;
  width: 11px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -9px;
  left: 10px;
}

input[type=checkbox]:checked::after {
  opacity: 1;
}

.p-input-submit {
  background-image: url(../images/contact/icon_white_arrow.png);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 70%;

  &:disabled {
    opacity: 0.5;
    cursor: auto;
  }
}

.p-input-bottom-text {
  line-height: 2;
  margin-bottom: 48px;
  a {
    text-decoration: underline;
  }
}

.p-input-btnArea {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.p-input-submit,
.p-input-back {
  display: inline-block;
  width: 250px;
  color: $white;
  background-color: $black;
  font-size: rem(18);
  border: none;
  line-height: 50px;
}

.p-input-back {
  margin-left: 16px;
}

//detepicker
tr > .ui-datepicker-today > .ui-state-highlight {
  border: 2px solid $enter-orange;
}

span[title="土曜日"] {
  color: blue;
}

span[title="日曜日"] {
  color: red;
}

.p-contact-text {
  line-height: 1.7;
  margin-bottom: 24px;
  padding-top: 40px;
  text-align: center;
}

.p-input-topBack {
  display: block;
  width: 250px;
  color: #fff;
  background-color: #000;
  font-size: 1.125rem;
  border: none;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
}

.mw_wp_form_send_error {
  text-align: center;
  margin-bottom: 24px;
  font-weight: 700;
  color: red;
}