@use "global" as *;

.p-meta-info {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.p-meta-info-content {

  .wp-block-group__inner-container {
    padding: 16px 8px;
  }

  >.wp-block-group {

    .wp-block-group {
      margin-bottom: 24px;

      .wp-block-group { //アコーディオン内
        margin-bottom: 0;
      }
    }

    &:first-child { //作品情報
      .wp-block-group {
        background-color: #eeeeee;
      }
    }

    &:nth-child(2) { //イベント情報
      .wp-block-group {
        background-color: #eeeeee;
      }
    }

    &:last-child { //プロフィール
      .wp-block-group {
        background-color: $white;
        border: 1px solid $black;
      }
    }
  }

  .wp-block-details {
    border: 1px solid $black;
    padding: 8px;

    &:not(:first-child) {
      margin-top: 24px;
    }
  }
  .wp-block-button__link {
    color: $white;
    background-color: #32373c;
    border-radius: 0;
  }

  summary {
    display: block;
    font-size: rem(18);
    padding: 16px;
    list-style: none;
    text-align: center;
    position: relative;
    margin: -8px;

    &::after {
      content: "";
      position: absolute;
      background-image: url(../images/meta_info/icon_toggle_plus.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      top: 52%;
      right: 0;
      transform: translate(-50%, -50%);
    }
  }

  .is-toggle-open {
    &::after {
      background-image: url(../images/meta_info/icon_toggle_minus.svg);
    }
  }

  h2 {
    font-size: rem(18);
    margin-bottom: 16px;
    padding: 5px 0 5px 7px;
  }
  h3 {
    font-size: rem(18);
    text-align: center;
    margin-bottom: 24px;
  }
  p {
    line-height: 1.5;
    margin-bottom: 24px;
  }
  figcaption {
    text-align: center;
  }
}

.p-single-music {
  .p-meta-info {
    h2 {
      border-left: 4px solid $music-blue;
    }
  }
}
.p-single-anime {
  .p-meta-info {
    h2 {
      border-left: 4px solid $anime-pink;
    }
  }
}
.p-single-game {
  .p-meta-info {
    h2 {
      border-left: 4px solid $game-purple;
    }
  }
}
.p-single-entertainment {
  .p-meta-info {
    h2 {
      border-left: 4px solid $enter-orange;
    }
  }
}