@use "global" as *;

.p-top {
  padding: 20px;
}
.p-top-googleAd {
  height: 175px;
  padding: 20px 0;
  margin-bottom: 64px;
}

.p-mid-googleAd {
  height: 300px;
  padding: 20px 0;
  margin-bottom: 80px;
}

.p-googleAd-inner {
  border: 2px solid $black;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.p-top-slider {
  margin: 0 -20px;
}

.p-top-slider-item {
  position: relative;
  height: 300px;
  filter: brightness(0.6);
  transition: filter 0.3s;
}

.slick-current {
  filter: brightness(0.8);
}

.p-top-slider-img {
  height: 300px;
  object-fit: cover;
}


.p-top-slider-info {
  position: absolute;
  left: 16px;
  bottom: 24px;
}

.p-top-slider-tag {
  color: $white;
  background-color: rgb(255, 217, 0);
  font-size: rem(12);
}

.p-top-slider-title {
  color: $white;
  font-size: rem(16);
}

.p-topContent {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.p-content {
  width: calc(100% - 300px);
  margin-right: 85px;
}

.p-pickUp {
  position: relative;
  border: 2px solid $black;
  width: calc(100% - 23px);
  margin-bottom: 80px;
  margin-left: auto;
  padding: 24px;

  &::before {
    content: "";
    position: absolute;
    top: -32px;
    left: -25px;
    background-image: url(../images/top/pick_up_news.png);
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 250px;
    height: 70px;
  }
}

.p-pickUp-title {
  display: none;
}

.p-pickUp-list {
  display: flex;
}
.p-pickUp-article {
  height: 250px;
  width: 25%;
  margin: 0 8px;
}

.p-pickUp-article-link {}

.p-pickUp-article-thumbnail {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 2px 7px #00000026;
}

.p-pickUp-article-time {
  display: inline-block;
  font-size: rem(14);
  font-weight: 600;
  margin-bottom: 8px;
}

.p-pickUp-article-text {}

.p-articles {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: -40px;
}

$mr: 32px;
.p-article {
  width: calc((100% - $mr*3) / 3);
  margin-bottom: 80px;
  margin-right: $mr;
}

.p-article-link {
  display: block;
  position: relative;
}

.p-article-time {
  position: absolute;
  left: 0;
  top: -26px;
  transform: rotate(-15deg);
  font-size: rem(14);
  font-weight: 700;
}

.p-article-thumbnail {
  height: 160px;
  object-fit: cover;
}

.p-article-title {}

.p-article-tags {}

.p-article-tag {}

.p-articles-bottom {
  display: block;
  width: 100%;
}

.p-articles-more {
  display: inline-block;
  margin: 0 auto;
}
