@use "global" as *;

.p-top {
}
.p-top-googleAd {
  height: 90px;
  margin: 24px 0;

  & + .c-breadcrumb {
    margin-top: 48px;
  }
}

.p-mid-googleAd {
  height: 200px;
  margin-bottom: 40px;
}

.p-googleAd-inner {
  border: 2px solid $black;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

//slider

.p-top-slider {
  margin: 0 -20px;

  .slick-next {
    height: 300px;
    width: 40px;
    right: 0px;
    &::before {
      content: "＞";
      font-size: rem(40);
    }
  }

  .slick-prev {
    height: 300px;
    width: 40px;
    left: 0px;
    z-index: 1;
    &::before {
      content: "＜";
      font-size: rem(40);
    }
  }

  .slick-dots li button:before {
    font-size: rem(10);
  }
}

.p-top-slider.slick-dotted {
  margin-bottom: 40px;
}

.p-top-slider-item {
  position: relative;
  height: 300px;
  filter: brightness(0.6);
  transition: filter 0.3s;
}

.slick-current {
  filter: brightness(0.9);
}

.p-top-slider-img {
  height: 300px;
  object-fit: cover;
}


.p-top-slider-info {
  position: absolute;
  left: 16px;
  bottom: 24px;
}

.p-top-slider-tag {
  color: $white;
  font-size: rem(12);
  padding: 3px;
  margin-bottom: 8px;
  display: inline-block;
  font-weight: 700;
}

.p-top-slider-title {
  color: $white;
  font-size: rem(16);
}

.p-mainContent {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.p-content {
  width: calc(100% - 300px);
  margin-right: 85px;
}

.p-pickUp {
  position: relative;
  border: 2px solid $black;
  width: calc(100% - 23px);
  margin-bottom: 80px;
  margin-left: auto;
  padding: 24px;

  &::before {
    content: "";
    position: absolute;
    top: -32px;
    left: -25px;
    background-image: url(../images/top/pick_up_news.png);
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 250px;
    height: 70px;
  }
}

.p-pickUp-title {
  display: none;
}

.p-pickUp-list {
  display: flex;
}
.p-pickUp-article {
  width: 25%;
  margin: 0 8px;
}

.p-pickUp-article-link {}

.p-pickUp-article-thumbnail {
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 1px 2px 7px #00000026;
}

.p-pickUp-article-time {
  display: inline-block;
  font-size: rem(14);
  font-weight: 600;
  margin-bottom: 8px;
}

.p-pickUp-article-text {}

.p-search-result {
  text-align: end;
  margin-bottom: 64px;
}

