@use "global" as *;

.is-display-none {
  display: none;
}

.is-display-block {
  display: block;
}

//ヘッダーナビ　メニュー

.is-menu-show {
  display: flex;
  @include mq (o-tb) {
    animation-name: menu-background;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow: scroll;
  }
}

// .is-menu-show {
//   @include mq (o-pc) {
//     animation-name: menu-background;
//     animation-duration: 0.5s;
//     animation-fill-mode: forwards;
//   }
// }

@keyframes menu-background {
  0% {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.95);
    backdrop-filter: blur(6px);
  }
}

@include mq (o-tb) {
  .is-menu-show-text01 {
    @include menuTextAnime(0.5s)
  }
  .is-menu-show-text02 {
    @include menuTextAnime(0.6s)
  }
  .is-menu-show-text03 {
    @include menuTextAnime(0.7s)
  }
  .is-menu-show-text04 {
    @include menuTextAnime(0.8s)
  }
  .is-menu-show-text05 {
    @include menuTextAnime(0.9s)
  }
  .is-menu-show-text06 {
    @include menuTextAnime(1.0s)
  }
}


.is-menu-show-icons {
  animation-name: menu-text;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}



.is-stay {
  @include mq (o-tb) {
    overflow: hidden;
  }
}

.js-menu-btn-bar {
  transition: all 0.3s;
}

.is-bar-move {
  left: 0%;
  transform-origin: 50% 50%;

  &:first-child {
    transform: translateY(7px) rotate(45deg);
    top: 50%;

  }
  &:nth-child(2) {
    display: none;
  }
  &:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
    top: 50%;
  }
}

// スクロールトップ
.is-btn-show {
  opacity: 0.8;
}

//お問い合わせフォーム送信ボタン
.is-inactive {
}

// message スクロールマスク

.js-scroll-mask {
  transition: all 1s;
}

.is-scroll-mask {
  background-color: rgba(138, 138, 138, 0.302);
}

//headerアニメーション
.is-header-hide {
  opacity: 0.8;
  transform: translateY(-70px);

  @include mq (o-tb) {
    transform: translateY(0px);
    opacity: 0.9;
  }
}