@use "global" as *;

.c-breadcrumb-list {
  display: flex;
  padding: 24px 0px 4px 0px;
  border-bottom: 1px solid;
  margin: 0 auto;
  margin-bottom: 24px;
  max-width: 1200px;
}

.c-breadcrumb-item {
  margin-right: 24px;
}

.c-breadcrumb-item:has(>a) {
  position: relative;
  &::before {
    content: ">";
    position: absolute;
    top: 50%;
    right: -22px;
    transform: translate(-50%, -50%);
  }
}

