@use "global" as *;

.c-breadcrumb {
  overflow-y: hidden;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid;
  margin-bottom: 24px;
  padding-top: 24px;
  &::-webkit-scrollbar {// レール
    background: hsla(0, 0%, 0%, 0.1);
    height: 3px;
  }

  &::-webkit-scrollbar-thumb { //可動バー
    background-color: #0003;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0 0 0);
  }
}

.c-breadcrumb-list {
  display: inline-block;
  padding: 0 0px 4px 0px;
  line-height: 1.7;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.is-br-shadow {
  box-shadow: inset -10px 0 5px -8px rgb(0 0 0 / 8%);
}

.c-breadcrumb-item {
  display: inline;
  margin-right: 24px;
  position: relative;
  font-family: $ff-gothic;
  a {
    font-family: $ff-gothic;
    @include flashAnime;
  }

  &:first-child {
    padding-left: 20px;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 16%;
      transform: translate(-50%, -50%);
      background-image: url(../images/common/home_icon.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 18px;
      height: 18px;
    }
  }
}

.c-breadcrumb-item:has(>a) {
  position: relative;
  &::before {
    content: ">";
    position: absolute;
    top: 50%;
    right: -22px;
    transform: translate(-50%, -50%);
  }
}

