@use "global" as *;

.c-btn {
  color: $white;
  font-size: rem(20);
  font-weight: 900;
  text-align: center;
  padding: 8px 24px 12px 24px;
  border-radius: 55px;
}

.c-toUpBtn {
  display: block;
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  padding: 8px 10px 0;
  background: #000;
  color: #fff;
  border: 1px solid;
}