@use "global" as *;

.c-content {
  width: calc(100% - 300px - 85px);
  margin-right: 85px;
  overflow-x: hidden;

  @include mq (o-pc) {
    width: calc(100% - 300px - 24px);
    margin-right: 24px;
  }

  @include mq (o-tb) {
    margin-right: 0;
    width: 100%;
  }
}